apiVersion: v1
kind: Namespace
metadata:
  name: {{ appns }}
  labels:
    hub/owner: {{ owner }}
    hub/app: {{ name }}
    pod-security.kubernetes.io/enforce: restricted
    pod-security.kubernetes.io/enforce-version: latest
  annotations:
    argocd.argoproj.io/sync-options: Prune=false